body {
  background-color: black;
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  width: max-content;
  overflow: hidden;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 500px;

  border: 2px solid white;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.container-one {
  color: #000;
  background-color: #dedede;
}

main {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

section {
  display: block;
  width: 100vw;
  height: 100vh;
}
