/* Inter */
@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  /* background-color: #cacaca; */
}

.main {
  padding: 200px 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  font-size: 64px;
}

a {
  border-top: 1px #000 solid;
  padding: 30px 0;
  text-decoration: none;
  color: #000;
}

a:last-child {
  border-bottom: 1px #000 solid;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 30;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 80px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 40px;
}

.text {
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
}

.text-2 {
  transform: translateX(-50%);
}

.text div {
  overflow: hidden;
}

.text div span {
  user-select: none; /* Standard syntax */
  display: block;
  transform: translateY(100%);
}

.back-btn {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  opacity: 0;
}
